.card-country {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 240px;
}

.card-country > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-country h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-country p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-country .card-country-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-country-infos .card-country-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


div.flexbox.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card-country-top > h2 {
  margin-bottom: 18px;
}
